<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Add to the Cookbook</h1>


  <form method="post">
    <label for="title">Recipe Name</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required><br></br>
    <label for="body">Instructions</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
<fieldset> {% for c in cooktime_list %}
  <p><input type="checkbox" name="{{c['cooktime_id'] }}" value="{{c['cooktime_id'] }}"> {{c['cooktime']}}</p>
{% endfor %}</fieldset>
   
  </form>

