
  <h1 class="center" > Welcome! Register to become a Chef</h1>

  <form class="center" method="post">
    <label for="firstname">Firstname</label>
    <input name="firstname" id="firstname" required><br></br>
    <label for="lastname">Lastname</label>
    <input name="lastname" id="lastname" required><br></br>
    <label for="username">Username</label>
    <input name="username" id="username" required><br></br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br></br>
    <input type="submit" value="Register">
  </form>

